#root, *{
    font-size: 12px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

div#root{
    margin: 0;
    background-color: hsl(235, 21%, 11%);
    min-height: 100vh;
}

header{
    background-image: url('../assets/todo-app-main/images/bg-mobile-dark.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.title{
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 325px;
    height: 20px;
    margin-left: 26px;
    margin-right: 26px;
}

div.todo-icon{
    background-image: url('../assets/todo-app-main/images/TODO.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 108px;
    height: 20px;
}

div.theme-icon{
    background-image: url('../assets/todo-app-main/images/icon-sun.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20px;
    width: 20px;
}

div.create-todo{
    margin-top: 40px;
    display: flex;
    width: 327px;
    height: 48px;
    background-color: hsl(235, 24%, 19%);
    border: 0;
    border-radius: 5px;
    justify-content: space-between;
}

.create-todo .checked{
    margin-left: 20px;
    margin-top: 14px;
    margin-right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: hsl(235, 24%, 19%);
    border: 1px solid #393A4B;
    padding: 0;
}

.create-todo .text-todo{
    color: #767992;
    width: 275px;
    background-color: hsl(235, 24%, 19%);
    border: 0;
    border-radius: 5px;
    padding: 0;
}

/* ------------------------------------- */

div.list{
    border-radius: 5px;
    width: 327px;
    margin: 0 auto;
    position: relative;
    top: -28px;
}

div.existing-todo{
    display: flex;
    height: 48px;
    background-color: hsl(235, 24%, 19%);
    border: 0;
    justify-content: space-between;
    border-bottom: 1px solid #393A4B;
    align-items: center;
}

.check-todo{
    margin-left: 20px;
    margin-right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: hsl(235, 24%, 19%);
    border: 1px solid #393A4B;
    padding: 0;
}

p.todo{
    width: 223px;
    background-color: hsl(235, 24%, 19%);
    border: 0;
    padding: 0;
    color: #767992;
}

.delete-todo{
    margin-right: 20px;
    margin-left: 0;
    width: 20px;
    height: 20px;
    background-color: hsl(235, 24%, 19%);
    border: 0;
    padding: 0;
    color: #393A4B;
}

/* ------------------------------------- */

.clear-completed{
    background-color: hsl(235, 24%, 19%);
    border: 0;
    color: #767992;
}

.filter-all, .filter-active, .filter-completed{
    background-color: hsl(235, 24%, 19%);
    border: 0;
    color: #767992;
    font-weight: 700;
}

.note{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.note span{
    color: #767992;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 72px;
}

@media (min-width: 1000px) {

    #root, *{
        font-size: 18px;
    }

    div#root{
        min-width: 100%;
        margin: 0;
        background-color: hsl(235, 21%, 11%);
    }   

    header{
        background-image: url('../assets/todo-app-main/images/bg-desktop-dark.jpg');
        height: 300px;
        width: 100%;
    }

    div.title{
        margin-top: 70px;
        width: 37.5%;
        height: 40px;
        margin-left: 38%;
        margin-right: 38%;
    }

    div.todo-icon{
        background-image: url('../assets/todo-app-main/images/TODO_desktop.svg');
        background-size: contain;
        width: 167px;
        height: 40px;
    }
    
    div.theme-icon{
        height: 26px;
        width: 26px;
    }

    div.create-todo{
        margin-top: 48px;
        width: 37.5%;
        height: 64px;
    }

    .create-todo .checked{
        margin-left: 24px;
        margin-top: 20px;
        margin-right: 0;
        width: 24px;
        height: 24px;
    }

    .create-todo .text-todo{
        width: 84%;
    }

/* ------------------------------------- */

    div.list{
        width: 37.5%;
        top: -54px;
    }

    div.existing-todo{
        height: 64px;
    }

    .check-todo{
        margin-left: 24px;
        width: 24px;
        height: 24px;
    }

    p.todo{
        width: 68.8%;
        background-color: hsl(235, 24%, 19%);
        border: 0;
        padding: 0;
        color: #767992;
    }

    .delete-todo{
        margin-right: 24px;
        width: 24px;
        height: 24px;
    }

/* ------------------------------------- */

    .clear-completed{
        background-color: hsl(235, 24%, 19%);
        border: 0;
        color: #767992;
        font-size: 14px;
    }

    .note{
        margin-top: 49px;
        font-size: 14px;
    }
    
    .note span{
        margin-bottom: 52px;
    }

}